#slideshow-container {
    max-width: 500px;
    height: 100%;
    min-height: 250px;
    position: relative;
    margin: auto;
}

.netslide {
    display: none;
    width: 100%;
    height: calc(100% - 60px);
    min-height: 200px;
}

.netslidestitle{
    width: 100%;
    height: 30px;
    color: white;
    font-size: 17px;
    text-align: center;
}
.netslideslink{
    width: 100%;
    height: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
}


.netdivimg {
    width: 100%;
    height: 100%;
    min-height: 200px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}